@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

html, body {
  background: #fafafa;
  margin: 0;
  padding: 0;
}

text {
  font-family: 'Roboto';
}

.edgePath path {
  stroke: #333;
  fill: none;
  stroke-width: 1.5px;
}

.edgeLabel text {
  font-size: 0.75rem;
}
